# PostgreSQL
POSTGRES_DB=<REDACTED>
POSTGRES_USER=<REDACTED>
POSTGRES_PASSWORD=<REDACTED>
POSTGRES_APP_USER=<REDACTED>

# RabbitMQ
RABBITMQ_USER=<REDACTED>
RABBITMQ_PASSWORD=<REDACTED>

# Keycloak
KEYCLOAK_ADMIN=<REDACTED>
KEYCLOAK_ADMIN_PASSWORD=<REDACTED>

# Application Connection Settings (for docker-compose)
APP_DB_HOST=<REDACTED>
APP_DB_PORT=<REDACTED>
APP_RABBITMQ_HOST=<REDACTED>

S3
MINIO_ROOT_USER=<REDACTED>
MINIO_ROOT_PASSWORD=<REDACTED>
